<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>ReeUtil</title>
		<link rel="stylesheet" href="stylesClientes.css" />
	</head>
	<body>
		<header>
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<i class="fa-solid fa-recycle"></i>
						<div class="content-customer-support">
							<span class="text">Reinicia tu dispositivo</span>
						</div>
					</div>

					<div class="container-logo">
                        <i class="fa-solid fa-cog"></i>
						<h1 class="logo"><a href="/">ReeUtil</a></h1>
					</div>

					<div class="container-user">
						<i class="fa-solid fa-user"></i>
						<i class="fa-solid fa-basket-shopping"></i>
						<div class="content-shopping-cart">
							<span class="text">Carrito</span>
							<span class="number">(0)</span>
						</div>
					</div>
				</div>
			</div>

			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>
					<ul class="menu">
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Dispositivos</a></li>
						<li><a href="#">Cotizacion</a></li>
						<li><a href="#" id="openModal">Solicitud de evaluación</a></li>
								<div id="modal" class="modal">
									<div class="modal-content">
									<span id="closeModal" class="close">&times;</span>
									<h2>¿Cuál es el dispositivo que desea solicitar?</h2>
									<div class="modal-card-container">
										<div class="card-modal">
											<div class="container-img-modal">
												<img src="u1.png" alt="Galaxy Buds" />
											</div>
											<div class="content-modal">
												<h3>Galaxy Buds</h3>
												<span>01 Septiembre 2024</span>
												<p>
													Lorem ipsum dolor sit amet consectetur adipisicing elit.
												</p>
												<div class="btn-solicitar">Solicitar</div>
											</div>
										</div>
										<div class="card-modal">
											<div class="container-img-modal">
												<img src="u1.png" alt="Galaxy Buds" />
											</div>
											<div class="content-modal">
												<h3>Galaxy Buds</h3>
												<span>01 Septiembre 2024</span>
												<p>
													Lorem ipsum dolor sit amet consectetur adipisicing elit.
												</p>
												<div class="btn-solicitar">Solicitar</div>
											</div>
										</div>
										<div class="card-modal">
											<div class="container-img-modal">
												<img src="u1.png" alt="Lavadora" />
											</div>
											<div class="content-modal">
												<h3>Galaxy Buds</h3>
												<span>02 Septiembre 2024</span>
												<p>
													Lorem ipsum dolor sit amet consectetur adipisicing elit.
												</p>
												<div class="btn-solicitar">Solicitar</div>
											</div>
										</div>
										<div class="card-modal">
											<div class="container-img-modal">
												<img src="u.png" alt="Cafetera" />
											</div>
											<div class="content-modal">
												<h3>Galaxy Buds</h3>
												<span>03 Septiembre 2024</span>
												<p>
													Lorem ipsum dolor sit amet consectetur adipisicing elit.
												</p>
												<div class="btn-solicitar">Solicitar</div>
											</div>
										</div>
										
									</div>
									
									</div>
								</div>
						<li><a href="#">Más</a></li>
					</ul>

					<form class="search-form">
						<input type="search" placeholder="Buscar..." />
						<button class="btn-search">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
				</nav>
			</div>
		</header>
			<!-- Modal para Formulario -->
			<div id="solicitudModal" class="modal FormS-modal">
				<div class="modal-content FormS-modal-content">
				<span id="closeSolicitudModal" class="close FormS-close">&times;</span>
				<h2>Solicitar Dispositivo</h2>
				<form class="FormS-form">
					<label for="equipo">Equipo Solicitado:</label>
					<input type="text" id="equipo" name="equipo" value="XXX" readonly />
					
					<label for="imagen">Subir Imagen:</label>
					<input type="file" id="imagen" name="imagen" />
			
					<label for="estado">Estado del Dispositivo:</label>
					<input type="text" id="estado" name="estado" placeholder="Describe el estado del dispositivo" />
			
					<label for="detalles">Detalles:</label>
					<textarea id="detalles" name="detalles" rows="4" placeholder="Proporcione más detalles..."></textarea>
			
					<label for="fecha">Fecha:</label>
					<input type="date" id="fecha" name="fecha" />
			
					<button type="submit" class="FormS-submit">Enviar Solicitud</button>
				</form>
				</div>
			</div>
  
		<section class="banner">
			<div class="content-banner">
				<p>Reinicio de dispositivos</p>
				<h2>100% Calidad <br />Recicla tus gadgets</h2>
				<a href="#">Cotizar ahora</a>
			</div>
		</section>

		<main class="main-content">
			<section class="container container-features">
				<div class="card-feature">
                    <i class="fa-solid fa-recycle"></i>
					<div class="feature-content">
						<span>Reciclar ayuda al medio ambiente</span>
						<p>Dando un reinicio a tu disposito </p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-solid fa-wallet"></i>
					<div class="feature-content">
						<span>Tan fácil en la web</span>
						<p>Cotiza tus dispositivos atraves de la web</p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-solid fa-gift"></i>
					<div class="feature-content">
						<span>Ofertas y regalos</span>
						<p>Ofrece bonos especiales con regalo</p>
					</div>
				</div>
				<div class="card-feature">
					<i class="fa-solid fa-headset"></i>
					<div class="feature-content">
						<span>Servicio al cliente 24/7</span>
						<p>Atencion de alta calidad</p>
					</div>
				</div>
			</section>

			<section class="container top-categories">
				<h1 class="heading-1">Top Categorías</h1>
				<div class="container-categories">
					<div class="card-category category-electro">
						<p>Electrodomesticos</p>
						<span>Ver más</span>
					</div>
					<div class="card-category category-tecno">
						<p>Tecnologia</p>
						<span>Ver más</span>
					</div>
					<div class="card-category category-waer">
						<p>Wearable</p>
						<span>Ver más</span>
					</div>
				</div>
			</section>

			<section class="container top-products">
				<h1 class="heading-1">Mejores Productos</h1>

				<div class="container-options">
					<span class="active">Destacados</span>
					<span>Más recientes</span>
					<span>Más cotizados</span>
				</div>

				<div class="container-products">
					<!-- Producto 1 -->
					<div class="card-product">
						<div class="container-img">
							<img src="prod1.png" alt="iPhone 15 Pro" />
							<span class="discount">-13%</span>
							<div class="button-group">
								<span>
									<i class="fa-regular fa-eye"></i>
								</span>
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
								<span>
									<i class="fa-solid fa-code-compare"></i>
								</span>
							</div>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>iPhone 15 Pro</h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$$$$ <span>$$$$</span></p>
						</div>
					</div>
					<!-- Producto 2 -->
					<div class="card-product">
						<div class="container-img">
							<img
								src="prod2.png"
								alt="Samsung Galaxy Smart Watch 4"
							/>
							<span class="discount">-22%</span>
							<div class="button-group">
								<span>
									<i class="fa-regular fa-eye"></i>
								</span>
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
								<span>
									<i class="fa-solid fa-code-compare"></i>
								</span>
							</div>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>Samsung Galaxy Smart Watch 4</h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$$$ <span>$$$$</span></p>
						</div>
					</div>
					<!--  -->
					<div class="card-product">
						<div class="container-img">
							<img
								src="prod3.png"
								alt="LED TV XIAOMI 65″ "
							/>
							<div class="button-group">
								<span>
									<i class="fa-regular fa-eye"></i>
								</span>
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
								<span>
									<i class="fa-solid fa-code-compare"></i>
								</span>
							</div>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
							</div>
							<h3>LED TV XIAOMI 65″ </h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$$$$</p>
						</div>
					</div>
					<!--  -->
					<div class="card-product">
						<div class="container-img">
							<img src="prod4.png" alt="Lenovo Legion 5 Gaming Laptop" />
							<div class="button-group">
								<span>
									<i class="fa-regular fa-eye"></i>
								</span>
								<span>
									<i class="fa-regular fa-heart"></i>
								</span>
								<span>
									<i class="fa-solid fa-code-compare"></i>
								</span>
							</div>
						</div>
						<div class="content-card-product">
							<div class="stars">
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-solid fa-star"></i>
								<i class="fa-regular fa-star"></i>
							</div>
							<h3>Lenovo Legion 5 Gaming Laptop</h3>
							<span class="add-cart">
								<i class="fa-solid fa-basket-shopping"></i>
							</span>
							<p class="price">$$$$</p>
						</div>
					</div>
				</div>
			</section>

			<section class="gallery">
				<img
					src="1.png"
					alt="Gallery Img1"
					class="gallery-img-1"
				/><img
                src="2.png"
                alt="Gallery Img2"
					class="gallery-img-2"
				/><img
                src="3.png"
                alt="Gallery Img3"
					class="gallery-img-3"
				/><img
                src="2.png"
                alt="Gallery Img4"
					class="gallery-img-4"
				/><img
                src="1.png"
                alt="Gallery Img5"
					class="gallery-img-5"
				/>
			</section>

			<section class="container blogs">
				<h1 class="heading-1">Últimas acciones</h1>

				<div class="container-blogs">
					<div class="card-blog">
						<div class="container-img">
							<img src="u1.png" alt="Imagen Blog 1" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Galaxy Buds</h3>
							<span>01 Septiembre 2024</span>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing
								elit. Iste, molestiae! Ratione et, dolore ipsum
								quaerat iure illum reprehenderit non maxime amet dolor
								voluptas facilis corporis, consequatur eius est sunt
								suscipit?
							</p>
							<div class="btn-read-more">Leer más</div>
						</div>
					</div>
					<div class="card-blog">
						<div class="container-img">
							<img src="u2.png" alt="Imagen Blog 2" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Lavadora,WA456DRHDSU/ZS</h3>
							<span>02 Septiembre 2024</span>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing
								elit. Iste, molestiae! Ratione et, dolore ipsum
								quaerat iure illum reprehenderit non maxime amet dolor
								voluptas facilis corporis, consequatur eius est sunt
								suscipit?
							</p>
							<div class="btn-read-more">Leer más</div>
						</div>
					</div>
					<div class="card-blog">
						<div class="container-img">
							<img src="u.png" alt="Imagen Blog 3" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Philips Serie 2200 Cafetera Superautomática</h3>
							<span>03 Septiembre 2024</span>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing
								elit. Iste, molestiae! Ratione et, dolore ipsum
								quaerat iure illum reprehenderit non maxime amet dolor
								voluptas facilis corporis, consequatur eius est sunt
								suscipit?
							</p>
							<div class="btn-read-more">Leer más</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<p class="title-footer">Información de Contacto</p>
						<ul>
							<li>
								Dirección: lililalalalal
							</li>
							<li>Teléfono: 123-456-7890</li>
							<li>EmaiL: Cookies@support.com</li>
						</ul>
						<div class="social-icons">
							<span class="facebook">
								<i class="fa-brands fa-facebook-f"></i>
							</span>
							<span class="twitter">
								<i class="fa-brands fa-twitter"></i>
							</span>
							<span class="youtube">
								<i class="fa-brands fa-youtube"></i>
							</span>
							<span class="pinterest">
								<i class="fa-brands fa-pinterest-p"></i>
							</span>
							<span class="instagram">
								<i class="fa-brands fa-instagram"></i>
							</span>
						</div>
					</div>

					<div class="information">
						<p class="title-footer">Información</p>
						<ul>
							<li><a href="#">Acerca de Nosotros</a></li>
							<li><a href="#">Información Delivery</a></li>
							<li><a href="#">Politicas de Privacidad</a></li>
							<li><a href="#">Términos y condiciones</a></li>
							<li><a href="#">Contactános</a></li>
						</ul>
					</div>

					<div class="my-account">
						<p class="title-footer">Mi cuenta</p>

						<ul>
							<li><a href="#">Mi cuenta</a></li>
							<li><a href="#">Historial de ordenes</a></li>
							<li><a href="#">Lista de deseos</a></li>
							<li><a href="#">Boletín</a></li>
							<li><a href="#">Reembolsos</a></li>
						</ul>
					</div>

					<div class="newsletter">
						<p class="title-footer">Boletín informativo</p>

						<div class="content">
							<p>
								Suscríbete y mantente al
								día con nuevas colecciones y ofertas exclusivas.
							</p>
							<input type="email" placeholder="Ingresa el correo aquí...">
							<button>Suscríbete</button>
						</div>
					</div>
				</div>

				<div class="copyright">
					<p>
						Los cookies &copy; 2024
					</p>

				</div>
			</div>
		</footer>

		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
		<script src="solicitudes.js"></script>
	</body>
</html>