<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login ReeUtil</title>
    <link rel="stylesheet" type="text/css" href="stylesLogin.css"
    <link href="https://fonts.googleapis.com/css?family=Jost:wght@500&display=swap" rel="stylesheet">    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">

            <div class="signup">
                <form>
                    <label for="chk" aria-hidden="true">Registarse</label>
                    <input type="text" name="txt" placeholder="Nombre de Usuario" requiered="">
                    <input type="email" name="email" placeholder="Email" requiered="">
                    <input type="password" name="pswd" placeholder="Contraeña" requiered="">
                    <button>Registrarse</button>
                </form>
            </div>

            <div class="login">
                <form>
                    <label for="chk" aria-hidden="true">Iniciar Sesión</label>
                    <input type="email" name="email" placeholder="Email" requiered="">
                    <input type="password" name="pswd" placeholder="Contraeña" requiered="">
                    <button>Iniciar sesión</button>
                </form>
            </div>
        </div>
</body>
</html>