<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="planesstyles.css">
    <title>ReeUtil Planes</title>
</head>
<body>
    <div class="container-logo">
        <h1 class="logo"><a href="/">Selecciona el plan de preferencia</a></h1>
    </div>
    <div class="container">
        <!-- Plan Gratis -->
        <div class="item-container">
            <div class="img-container">
                <img src="free.png" alt="Plan Gratis image">
            </div>
            <p class="price">Free</p>
            <p class="info">Plan básico</p>

            <p class="type">Free</p>
            <p class="info">Acceso al catálogo de dispositivos</p>
            <p class="info">1 cotización gratuita por mes</p>
            <p class="info">Historial de últimas dos cotizaciones</p>

            <button class="action">Seleccionar</button>
        </div>

        <!-- Plan Pay-per-use -->
        <div class="item-container">
            <div class="img-container">
                <img src="ppuse.png" alt="Plan Pay-per-use image">
            </div>
            <p class="price">3.9$</p>
            <p class="info">Por cotización o evaluación</p>

            <p class="type">Pay-per-use</p>
            <p class="info">Acceso al catálogo con más detalles</p>
            <p class="info">Cotización bajo demanda</p>
            <p class="info">Evaluación bajo demanda</p>
            <p class="info">Opción de prioridad por $1.99</p>

            <button class="action">Seleccionar</button>
        </div>

        <!-- Plan Premium -->
        <div class="item-container">
            <div class="img-container">
                <img src="calidad-premium.png" alt="Plan Premium image">
            </div>
            <p class="price">9.99$</p>
            <p class="info">Por mes y Anual: $69.99</p>

            <p class="type"> Premium</p>
            <p class="info">Cotizaciones y evaluaciones ilimitadas</p>
            <p class="info">Prioridad en todas las evaluaciones</p>
            <p class="info">Acceso a informes detallados</p>
            <p class="info">Historial completo de transacciones</p>

            <button class="action">Seleccionar</button>
        </div>
        
    </div>
    
</body>
</html>